# Django itself plus addon packages. 
Django==3.1.*
channels==3.0.*
django-guardian==2.3.*
djangorestframework==3.12.*
drf-spectacular==0.17.*
django-filter==2.4.*

# Required for communication with other services.
paho-mqtt==1.5.*

# To allow running the tests.
pytest
pytest-django

# To parse settings from .env files.
python-dotenv==0.17.*

# Production servers.
daphne==3.0.*
whitenoise==5.2.*

# To speed up ConnectorMQTTIntegration
cachetools==4.2.*

# Database engines
psycopg2-binary
django-timescaledb==0.2.10

# For exposing Prometheus metrics
django-prometheus==2.1.*

# Dependencies of the backup&restore script.
requests
tqdm
