##############################################################################
# Be aware that every service, template and demo should provide a .gitignore
# file that matches the individual requirements of the component. This file
# only contains ignore rules applicable for all of the repo.
##############################################################################

# .env files are used during local development and testing to configure a 
# service. The settings should most likely not work on other machines and
# may even contain sensitive information. They thus don't belong in the 
# repo.
.env


# These temporary files have been encountered while developing in
# dedicated branches.
__pycache__
