{% extends "base.html" %}

{% block content %}
  <h1>Connectors</h1>
    <p>
      <a href="{% url "add_connector" %}" class="btn btn-success" role="button" >Add Connector</a>
    </p>
  <table class="table table-striped table-responsive-lg">
    <thead>
      <tr>
          <th>Name</th>
          <th>Created</th>
          <th>ID</th>
          <th></th>

      </tr>
    </thead>
    <tbody>
       {% for connector in object_list %}
          <tr>
              <td>{{ connector.name }}</td>
              <td>{{ connector.date_created }}</td>
              <td>{{ connector.id }}</td>
              <td>
                  <a href="{% url "connector_detail" connector.name %}" class="btn btn-info" role="button">Details</a>
                  <a href="{% url "edit_connector" connector.id %}" class="btn btn-warning" role="button">Edit</a>
                  <a href="{% url "delete_connector" connector.id %}" class="btn btn-danger" role="button">Delete</a>
              </td>

          </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock content %}