<!--
Extends original admin change form to display a "Go to available datapoints" button in the connector change view
after its basic information.
Change form source code: https://github.com/django/django/blob/master/django/contrib/admin/templates/admin/change_form.html
 -->

{% extends 'admin/change_form.html' %}

{% block field_sets %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
  {% if fieldset.name == "Basic information" %}
    <div class="submit-row">
            <input type="submit" value="Go to available datapoints" name="_av_dp">
    </div>
  {% endif %}
{% endfor %}
{% endblock %}

